@import "partials/setup";
@import "partials/variables";
@import "partials/mixins";
@import "partials/functions";

@import "partials/header";
@import "partials/about";
@import "partials/work";
@import "partials/skills";
@import "partials/footer";

@import "partials/animations";



@font-face {
	font-family: tiempos;
	src: url("../../assets/fonts/TiemposHeadline-Bold.woff") format("woff");
}

@font-face {
	font-family: basisReg;
	src: url("../../assets/fonts/basis-grotesque-regular.woff") format("woff");
}

@font-face {
	font-family: basisBold;
	src: url("../../assets/fonts/basis-grotesque-bold.woff") format("woff");
}

body {
	color: $textDefault;
	overflow-x: hidden; 
}

.innerWrapper {
	width: 90vw;
	margin: 0 auto;

	@include bp(med) {
		width: 80vw;
	}
}

