// ABOUT

.innerWrapper {
	width: 80vw;
}

.about {
	width: 80vw;
	margin: 0 auto 88px auto;
	visibility: visible;
	-webkit-transform: translateY(0) scale(1);
	opacity: 1;
	transform: translateY(0) scale(1);
	opacity: 1;
	-webkit-transition: -webkit-transform 0.3s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
	transition: transform 0.3s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
}

.aboutHead {
	margin-bottom: 48px;
}

.astrology {
	display: inline-block;

	svg {
		height: 60px;
		margin-bottom: -24px;
		padding: 0 4px;
		fill: $gradientDarkHeavy;
	}
}

.films {
	display: inline-block;

	svg {
		height: 60px;
		margin-bottom: -24px;
		padding: 0 4px;
		fill: $gradientDarkHeavy;
	}
}

.noods {
	display: inline-block;

	svg {
		height: 60px;
		margin-bottom: -24px;
		padding: 0 4px;
		fill: $gradientDarkHeavy;
	}
}

.aboutTitle {
	text-align: center;
	font-family: $serifReg;
	font-size: 28px;
	line-height: 46px;
	color: $textDefault;
	width: 70vw;
	margin: 0 auto;

	.aboutLink {
		@include customLink;
	}

	p {
		margin: 0 auto;
	}
}

.aboutBody {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 70vw;
	margin: 84px auto;

	@include bp(med) {
		flex-direction: column;
	}
}

.aboutText {
	width: 66%;
	text-align: center;
	font-family: $sansReg;
	font-size: 14px;
	line-height: 1.6em;
	letter-spacing: 0.6px;

	p:first-of-type {
		margin-top: 0px;
	}

	.aboutLink {
		@include customLink;
	}

	@include bp(med) {
		margin: 0 auto 64px auto;
	}
}

.aboutImage {
	background-image: url("../../assets/stahl.png");
	background-repeat: no-repeat;
	background-size: contain;
	min-width: 300px;
	min-height: 300px;
	margin-left: 48px;

	@include bp(med) {
		margin: 0 auto;
		min-width: 280px;
		min-height: 280px;
		// margin-left: 48px;
	}
}