// ABOUT

.innerWrapper {
	width: 80vw;
}

.about {
	width: 80vw;
	height: 100vh;
	margin: 0 auto;
	visibility: visible;
	-webkit-transform: translateY(0) scale(1);
	opacity: 1;
	transform: translateY(0) scale(1);
	opacity: 1;
	-webkit-transition: -webkit-transform 0.3s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
	transition: transform 0.3s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
}

.aboutHead {
	// display: grid;
	// grid-template-columns: repeat(3, 1fr);
	// grid-template-rows: repeat(3, 1fr);
	// grid-column-gap: 18px;
	margin-bottom: 48px;
}

.astrology {
	display: inline-block;

	svg {
		height: 80px;
		margin-bottom: -34px;
		padding: 0 4px;
		fill: $gradientDarkHeavy;
	}
}

.films {
	display: inline-block;

	svg {
		height: 80px;
		margin-bottom: -34px;
		padding: 0 4px;
		fill: $gradientDarkHeavy;
	}
}

.noods {
	display: inline-block;

	svg {
		height: 80px;
		margin-bottom: -34px;
		padding: 0 4px;
		fill: $gradientDarkHeavy;
	}
}

.aboutTitle {
	text-align: center;
	font-family: $serifReg;
	font-size: 28px;
	line-height: 46px;
	color: $textDefault;
	width: 70vw;
	margin: 0 auto;

	.aboutLink {
		@include customLink;
	}
}

.aboutBody {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 18px;
	width: 70vw;
	margin: 0 auto;
}

.aboutText {
	grid-column: 1 / span 2;
	text-align: center;
	font-family: $sansReg;
	font-size: 14px;
	line-height: 1.6em;
}

.aboutImage {
	grid-column: 3 / span 1;
	background-image: url("../../assets/stahl.png");
	background-repeat: no-repeat;
	background-size: contain;
	min-width: 250px;
	min-height: 250px;
}

// .aboutColumns {
// 	width: 80%;
// 	margin: 0 auto;
// 	column-count: 2;
// 	vertical-align: text-top;
// 	font-family: $sansReg;
// 	font-size: 14px;
// 	letter-spacing: 1px;

// 	p {
// 		margin: 0;
// 	}
// }