// FOOTER

footer {
	height: 300px;
	width: 100%;
	margin-bottom: 64px;
}

.contact.innerWrapper {
	width: 70vw;
}

.contact {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.socialPairs {
	display: flex;
	align-items: flex-start;

	&:hover {
		color: $gradientDarkHeavy;
	}
}

.socialPairs svg {
	transform: scale(2);
	margin-right: 8px;
	margin-top: 10px;
}

.socialLabel {
	font-size: 14px;
	line-height: 24px;
	font-family: $sansReg;
	margin: 0 0 16px 20px;
	color: $textDefault;
	padding: 5px 0;
	border-bottom: 2px solid white;
	transition: border-bottom 0.2s ease-in-out;
	color: $textDefault;
	text-decoration: none;

	&:hover {
		border-bottom: 2px solid $gradientDarkHeavy;
		transition: border-bottom 0.2s ease-in-out;
	}

	&:focus {
		border-bottom: 2px solid $gradientDarkHeavy;
		transition: border-bottom 0.2s ease-in-out;
	}
}

.copyright {
	background-color: white;
	color: $textDefault;
	font-family: $sansBold;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
	margin: 30px 0;
}

[id="instafeed"] {
	height: 300px;
	width: 100vw;
}