// FOOTER

footer {
	min-height: 300px;
	width: 100%;
	margin-bottom: 64px;
}

.contact.innerWrapper {
	width: 80vw;

	@include bp(xlrg) {
		width: 80vw;
	}
}

.contact {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 18px;

	@include bp(lrg) {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 2;
	}

	@include bp(sml) {
		grid-template-columns: 1;
		grid-template-rows: 3;
	}
}

.contactLeft {
	display: flex;
	align-items: flex-end;
	margin-top: -90px;

	@include bp(lrg) {
		grid-column-start: 1; grid-column-end: span 2;
		margin: 0 auto 48px auto;
		align-items: flex-start;
	}

	@include bp(sml) {
		grid-column-start: 1; grid-column-end: 1;
	}
}

.footerHello a {
	font-family: $sansBold;
	font-size: 108px;
	text-align: left;
	border-bottom: 4px solid white;
	color: $textDefault;
	text-decoration: none;
	transition: all 0.2s ease-in-out;

	&:hover {
		border-bottom: 4px solid $gradientDarkHeavy;
	}

	&:focus {
		border-bottom: 4px solid $gradientDarkHeavy;
	}
}

.socialPairs {
	display: flex;
	align-items: flex-start;
	transition: all 0.2s ease-in-out;

	&:hover {
		color: $gradientDarkHeavy;
	}
}

.socialPairs svg {
	transform: scale(2);
	margin-right: 8px;
	margin-top: 10px;
}

.socialLabel {
	font-size: 14px;
	line-height: 24px;
	white-space: nowrap;
	font-family: $sansReg;
	margin: 0 0 16px 20px;
	color: $textDefault;
	padding: 5px 0;
	border-bottom: 2px solid white;
	color: $textDefault;
	text-decoration: none;
	transition: all 0.2s ease-in-out;

	&:hover {
		border-bottom: 2px solid $gradientDarkHeavy;
	}

	&:focus {
		border-bottom: 2px solid $gradientDarkHeavy;
	}
}

.contactMiddle {
	display: flex;
	align-items: flex-end;
	margin-left: 0 20px 0 32px;
}

.socialContainerMiddle {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-end;
	margin: 0 auto;
}

.contactRight {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.gram {
	text-transform: uppercase;
	font-family: $sansBold;
	font-size: 14px;
	color: $textDefault;
	margin-bottom: 8px;
	text-align: center;
}

[id="instafeed"] {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-column-gap: 5px;
	grid-row-gap: 5px;
	max-width: 280px;
}

[id="instafeed"] a {
	height: 90px;
	width: 90px;
}

[id="instafeed"] a img {
	height: 100%;
	width: 100%;
}

.copyright {
	background-color: white;
	color: $textDefault;
	font-family: $sansBold;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
	margin: 30px 0;
}

