// HEADER

header {
	width: 100vw;
	height: 100vh;
	position: relative;
}

.navContainer {
	visibility: hidden;
	display: none;
	width: 100vw;
	background-color: white;
	position: fixed;
	top: 0px;
	z-index: 50;
}

.topNav {
	// width: 100%;
	width: 630px;
	height: 50px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 1fr;
	background-color: white;

	@include bp(med) {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 0px;
	}
}

.burgerWrapper {
	display: none;
	background-color: white;
	width: 100%;
	transition: all 0.5s ease-in-out;

	@include bp(med) {
		display: block;
		margin: 0 auto 10px auto;
		position: relative;
		z-index: 20;
	}
}

.burger {
	height: 43px;
	cursor: pointer;
	width: 50px;
	margin: 12px auto 0 auto;
	position: relative;
	transition: all 0.2s linear 0s;
	
	.bar {
		transition: all 0.2s linear 0.2s;
		width: 50px;
		height: 8px;
		background-color: $gradientDark; 
		border-radius: 20px;
		
		&-1 {
			@include position-absolute($top: 0px, $left: 0);
		}
		
		&-2 {
			@include position-absolute($top: 17px, $left: 0);
		}
		
		&-3 {
			@include position-absolute($top: 34px, $left: 0);
		}
	}
	
	&.opened {
		transform: rotate(90deg);
		
		.bar {
			
			&-2 {
				opacity: 0;
			}
			
			&-1 {
				transform: rotate(45deg);
				@include position-absolute($top: 17px, $left: 0);
			}
			
			&-3 {
				transform: rotate(-45deg);
				@include position-absolute($top: 17px, $left: 0);
			}
		}
	}
}

.navBoxContainer {
	width: 630px;
	height: 50px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 1fr;
	background-color: white;
	transition: all 0.5s ease-in-out;

	@include bp(med) {
		display: flex;
		flex-direction: column;
		padding: 10px 0;
		// width: 20%;
		width: calc(100% - 104px);
		height: auto;
		display: none;
	}
}

.show {
	display: block;
	transition: all 0.5s ease-in-out;
}

.navBox {
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 4px solid white;
	transition: all 0.5s ease-in-out;

	&:hover {
		border-bottom: 4px solid $dkGrey;
		opacity: 0.8;
	}
}

.navBox p {
	text-align: center;
	font-family: $sansBold;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 2px;
	line-height: 16px;
	color: $textDefault;
	transition: all 0.5s ease-in-out;
}

.navBox a {
	text-decoration: none;
	color: $textDefault;
	transition: all 0.5s ease-in-out;

	&:visited,
	&:hover,
	&:active {
		color: $textDefault;
	}
}

.nameContainer {
	visibility: hidden;
	display: none;
	z-index: 50;
}

.nameContainer p {
	padding: 0 1rem;
	position: fixed;
	top: 48vh;
	text-align: center;
	z-index: 10;
	font-family: $sansBold;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 2px;
	line-height: 16px;
	color: $textDefault;
}

.nameContainerLeft {

	p {
		transform: rotate(-90deg);
		left: -60px;
	}
}

.nameContainerRight {

	p {
		transform: rotate(90deg);
		right: -105px;
	}
}

.hero {
	width: 80vw;
	height: 80vh;
	margin: 10vh auto;
	background-image: url("../../assets/rose_outside.jpg");
	background-size: cover;
}

.heroOverlay {
	width: 80vw;
	height: 80vh;
	margin: 0 auto;
	background-image: linear-gradient(90deg, $gradientDark, $gradientMid, $gradientLight);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
	padding: 36px;

	.head {
		font-family: $serifReg;
		font-size: 64px;
		letter-spacing: 1px;
		color: white;
		margin: -16px auto 0px auto;
		text-align: center;
	}

	.subhead {
		font-family: $sansBold;
		font-size: 12px;
		color: white;
		letter-spacing: 3px;
		text-transform: uppercase;
		text-align: center;
	}
}

.keepGoingContainer {
	width: 100%;
	padding-top: 50px;

	a {
		display: flex;
		justify-content: center;
	}
}

.keepGoing {
	color: white;
	margin: auto;
	z-index: 99;
	border: none;
	background-size: 18px;
	cursor: pointer;
	outline: none;
	animation: bounce 3s infinite;
}

