// HEADER

header {
	width: 100vw;
	position: relative;
}

.navContainer {
	visibility: hidden;
	display: none;
	width: 100vw;
	background-color: white;
	position: fixed;
	top: 0px;
	z-index: 50;
}

.topNav {
	width: 630px;
	height: 50px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 1fr;
	background-color: white;

	@include bp(med) {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: auto;
	}
}

.burger {
	display: none;

	@include bp(med) {
		display: block;
		margin: 12px auto;
	}
}

.line1,
.line2,
.line3 {
	display: block;
	position: relative;
	width: 50px;
	height: 6px;
	margin-bottom: 4px;
	background-color: $gradientDark;
	border-radius: 3px;
}

// onClick, two lines form an x, third line disappears (css animation?)

.navBox {
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 4px solid white;
	transition: all 0.3s ease-in-out;

	&:hover {
		border-bottom: 4px solid $dkGrey;
		opacity: 0.8;
	}
}

.navBox p {
	text-align: center;
	font-family: $sansBold;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 2px;
	line-height: 16px;
	color: $textDefault;
}

.navBox a {
	text-decoration: none;
	color: $textDefault;
	transition: all 0.3s ease-in-out;

	&:visited,
	&:hover,
	&:active {
		color: $textDefault;
	}
}

.burgerWrapper {
	// display: none;
	color: white;
	font-size: 2.7rem;
	position: relative;
	z-index: 10;

	@include bp(med) {
		display: block;
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: auto;
		left: 0px;
		// button {
		// 	outline: none;
		// 	font-size: 1.4rem;
		// 	padding: 10px 15px;
		// }
	}
}

.nameContainer {
	visibility: hidden;
	display: none;
	z-index: 50;
}

.nameContainer p {
	padding: 0 1rem;
	position: fixed;
	top: 48vh;
	text-align: center;
	z-index: 10;
	font-family: $sansBold;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 2px;
	line-height: 16px;
	color: $textDefault;
}

.nameContainerLeft {

	p {
		transform: rotate(-90deg);
		left: -60px;
	}
}

.nameContainerRight {

	p {
		transform: rotate(90deg);
		right: -140px;
	}
}

.hero {
	width: 100vw;
	height: 100vh;
	margin: 0 auto;
	background-image: url("../../assets/rose_outside.jpg");
	background-size: cover;
}

.heroOverlay {
	width: 100vw;
	height: 100vh;
	background-image: linear-gradient(90deg, $gradientDark, $gradientMid, $gradientLight);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
	padding: 36px;

	.head {
		font-family: $serifReg;
		font-size: 64px;
		letter-spacing: 1px;
		color: white;
		margin: -16px auto 0px auto;
		text-align: center;
		// transition-delay: all 5s ease-in forwards;
	}

	.subhead {
		font-family: $sansBold;
		font-size: 12px;
		color: white;
		letter-spacing: 3px;
		text-transform: uppercase;
		text-align: center;
		// transition-delay: all 10s ease-in forwards;
	}
}

.keepGoingContainer {
	display: flex;
	width: 100%;
	height: 40px;
	justify-content: center;
	align-items: center;
}

.keepGoingPulse,
.keepGoing {
	position: absolute;
	color: white;
	width: 24px;
	height: 24px;
	border-radius: 100%;
	bottom: 5vh;
}

.keepGoingPulse {
	animation: pulse 1.5s ease infinite;
	background: white;
}

.keepGoing {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	z-index: 99;
	border: none;
	background-size: 18px;
	cursor: pointer;
	outline: none;
}

