@mixin workLinks {
	text-decoration: none;
	color: white;
	font-family: $sansReg;

	&:visited {
		color: white;
	}

	&:hover{
		color: $dkGrey;
		background-color: white;
		border: 2px solid white;
	}

	&:active {
		background-color: $gradientDarkHeavy;
	}
}

@mixin aspect-ratio($width, $height) {
	position: relative;

	&:before {
		display: block;
		content: "";
		width: 100%;
		padding-top: ($height / $width) * 100%;
	}
	
	> .content {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}

// media breakpoints

@mixin bp($size) {
	@if ($size == 'sml') {
		@media (max-width: 570px) { 
			@content; 
		}
	}

	@if ($size == 'med') {
		@media (max-width: 680px) { 
			@content; 
		}
	}
 
	@if $size == 'lrg' {
		@media (max-width: 750px) { 
			@content; 
		}
	}
}
