$serifReg: 'tiempos', serif;
$sansReg: 'basisReg', sans-serif;
$sansBold: 'basisBold', sans-serif;

// COLOURS

$dkGrey: #666666;

$dkGreyOp: rgba(102,102,102, 0.6);

$textDefault: #0e1111;

// $gradientDark: #e4a199;
// $gradientLight: #fbd2d7;
// $gradientMid: #ecb7bf;

// RGBA
$gradientDark: rgba(228,161,153, 0.4);
$gradientLight: rgba(251,210,215, 0.7);
$gradientMid: rgba(236,183,191, 0.3);

$gradientDarkHeavy: rgba(228,161,153, 0.8);

// INSTAFEED
$instaKey: 'aec0f07c02554ff69a0bffdf2de11e20';
$instaID: 1571190663;

// MEDIA
$sml: ( max: 650px );
$med: ( max: 960px );
$lrg: ( max: 1040px );
$xlrg: ( max: 1060px );