// WORK

.work.innerWrapper {
	width: 80vw;

	@include bp(med) {
		width: 75vw;
	}
}

.workGallery {
	margin: 60px auto;
	width: 60vw;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 10px;
	grid-row-gap: 20px;
	visibility: visible;
	-webkit-transform: translateY(0) scale(1);
	opacity: 1;
	transform: translateY(0) scale(1);
	opacity: 1;
	-webkit-transition: -webkit-transform 0.3s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
	transition: transform 0.3s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;

	@include bp(med) {
		// grid-template-columns: repeat(2, 1fr);
		// grid-template-rows: repeat(2, 1fr);
		grid-column-gap: 10px;
		width: 75vw;
	}

	@include bp(xsml) {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

.workSingle {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: calc( 85vw / 3 );
	width: calc( 85vw / 3 );
	margin: 0 auto;
	position: relative;

	@include bp(med) {
		height: calc( 75vw / 2 );
		width: calc( 75vw / 2 );
	}

	@include bp(sml) {
		height: calc( 70vw / 2 );
		width: calc( 70vw / 2 ); 
	}

	@include bp(xsml) {
		height: 70vw;
		width: 70vw;
		margin-bottom: 20px;
	}
}

.workSingleOverlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: $gradientLight;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 8px;
	transition: all 0.3s ease-in-out;

	&:hover {
		background-color: $dkGreyOp;
		cursor: pointer;
		-webkit-box-shadow: 0px 0px 15px 0px rgba(153,153,153,1);
		-moz-box-shadow: 0px 0px 15px 0px rgba(153,153,153,1);
		box-shadow: 0px 0px 15px 0px rgba(153,153,153,1);
	}

	@include bp(med) {
		background-color: $dkGreyOp;
		cursor: pointer;
	}
}

.workSingleOverlay:hover .workTitle {
	display: none;
}

.workSingleOverlay:hover .workDesc {
	display: flex;
}

.workTitle {
	font-family: $serifReg;
	font-size: 36px;
	text-align: center;
	color: $textDefault;

	@include bp(med) {
		display: none;
	}
}

.workDesc {
	display: none;
	flex-direction: column;
	align-items: center;

	@include bp(med) {
		display: flex;
	}
}

.workHoverSkills {
	text-transform: uppercase;
	font-family: $sansBold;
	letter-spacing: 1px;
	font-size: 14px;
	color: white;
	text-align: center;

	@include bp(sml) {
		font-size: 10px;
	}
}

.mobileWorkTitle {
	display: none;
	font-family: $serifReg;
	color: white;
	font-size: 36px;
	text-align: center;
	margin-bottom: 0px;

	@include bp(med) {
		display: block;
	}

	@include bp(sml) {
		font-size: 20px;
		margin-top: 0px;
	}
}

.workDesc a {
	@include workLinks;
	@include buttonMain;
}

.anatomyThumb {
	background-image: url("../../assets/anatomy300.jpg");
}

.flowieThumb {
	background-image: url("../../assets/flowie300.jpg");
}

.definityThumb {
	background-image: url("../../assets/definity300.jpg");
}

.ipsumThumb {
	background-image: url("../../assets/ipsum300.jpg");
}

.tarotThumb {
	background-image: url("../../assets/tarot300.jpg");
}

.whereThumb {
	background-image: url("../../assets/whereshouldibuy300.jpg");
}