// WORK

.workGallery {
	margin: 60px auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	visibility: visible;
	-webkit-transform: translateY(0) scale(1);
	opacity: 1;
	transform: translateY(0) scale(1);
	opacity: 1;
	-webkit-transition: -webkit-transform 0.3s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
	transition: transform 0.3s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
}

.workSingle {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: calc( 85vw / 3);
	width: calc( 85vw / 3);
	margin: 0 auto;
	position: relative;
}

.workSingleOverlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: $gradientLight;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&:hover {
		background-color: $dkGreyOp;
		cursor: pointer;
	}
}

.workSingleOverlay:hover .workTitle {
	display: none;
}

.workSingleOverlay:hover .workDesc {
	display: flex;
}

.workTitle {
	font-family: $serifReg;
	font-size: 36px;
	text-align: center;
}

.workDesc {
	display: none;
	flex-direction: column;
}

.workDesc a {
	@include workLinks;
	@include buttonMain;
}

.anatomyThumb {
	background-image: url("../../assets/anatomy300.jpg");
}

.bearThumb {
	background-image: url("../../assets/bear300.jpg");
}

.definityThumb {
	background-image: url("../../assets/definity300.jpg");
}

.ipsumThumb {
	background-image: url("../../assets/ipsum300.jpg");
}

.tarotThumb {
	background-image: url("../../assets/tarot300.jpg");
}

.whereThumb {
	background-image: url("../../assets/whereshouldibuy300.jpg");
}