article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

header {
  width: 100vw;
  height: 100vh;
  position: relative; }

.navContainer {
  visibility: hidden;
  display: none;
  width: 100vw;
  background-color: white;
  position: fixed;
  top: 0px;
  z-index: 50; }

.topNav {
  width: 630px;
  height: 50px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  background-color: white; }
  @media (max-width: 960px) {
    .topNav {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 0px; } }

.burgerWrapper {
  display: none;
  background-color: white;
  width: 100%;
  transition: all 0.5s ease-in-out; }
  @media (max-width: 960px) {
    .burgerWrapper {
      display: block;
      margin: 0 auto 10px auto;
      position: relative;
      z-index: 20; } }

.burger {
  height: 43px;
  cursor: pointer;
  width: 50px;
  margin: 12px auto 0 auto;
  position: relative;
  transition: all 0.2s linear 0s; }
  .burger .bar {
    transition: all 0.2s linear 0.2s;
    width: 50px;
    height: 8px;
    background-color: rgba(228, 161, 153, 0.4);
    border-radius: 20px; }
    .burger .bar-1 {
      position: absolute;
      top: 0px;
      left: 0; }
    .burger .bar-2 {
      position: absolute;
      top: 17px;
      left: 0; }
    .burger .bar-3 {
      position: absolute;
      top: 34px;
      left: 0; }
  .burger.opened {
    transform: rotate(90deg); }
    .burger.opened .bar-2 {
      opacity: 0; }
    .burger.opened .bar-1 {
      transform: rotate(45deg);
      position: absolute;
      top: 17px;
      left: 0; }
    .burger.opened .bar-3 {
      transform: rotate(-45deg);
      position: absolute;
      top: 17px;
      left: 0; }

.navBoxContainer {
  width: 630px;
  height: 50px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  background-color: white;
  transition: all 0.5s ease-in-out; }
  @media (max-width: 960px) {
    .navBoxContainer {
      display: flex;
      flex-direction: column;
      padding: 10px 0;
      width: calc(100% - 104px);
      height: auto;
      display: none; } }

.show {
  display: block;
  transition: all 0.5s ease-in-out; }

.navBox {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 4px solid white;
  transition: all 0.5s ease-in-out; }
  .navBox:hover {
    border-bottom: 4px solid #666666;
    opacity: 0.8; }

.navBox p {
  text-align: center;
  font-family: "basisBold", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 16px;
  color: #0e1111;
  transition: all 0.5s ease-in-out; }

.navBox a {
  text-decoration: none;
  color: #0e1111;
  transition: all 0.5s ease-in-out; }
  .navBox a:visited, .navBox a:hover, .navBox a:active {
    color: #0e1111; }

.nameContainer {
  visibility: hidden;
  display: none;
  z-index: 50; }

.nameContainer p {
  padding: 0 1rem;
  position: fixed;
  top: 48vh;
  text-align: center;
  z-index: 10;
  font-family: "basisBold", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 16px;
  color: #0e1111; }

.nameContainerLeft p {
  transform: rotate(-90deg);
  left: -60px; }

.nameContainerRight p {
  transform: rotate(90deg);
  right: -105px; }

.hero {
  width: 80vw;
  height: 80vh;
  margin: 10vh auto;
  background-image: url("../../assets/rose_outside.jpg");
  background-size: cover; }

.heroOverlay {
  width: 80vw;
  height: 80vh;
  margin: 0 auto;
  background-image: linear-gradient(90deg, rgba(228, 161, 153, 0.4), rgba(236, 183, 191, 0.3), rgba(251, 210, 215, 0.7));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding: 36px; }
  .heroOverlay .head {
    font-family: "tiempos", serif;
    font-size: 64px;
    letter-spacing: 1px;
    color: white;
    margin: -16px auto 0px auto;
    text-align: center; }
  .heroOverlay .subhead {
    font-family: "basisBold", sans-serif;
    font-size: 12px;
    color: white;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center; }

.keepGoingContainer {
  width: 100%;
  padding-top: 50px; }
  .keepGoingContainer a {
    display: flex;
    justify-content: center; }

.keepGoing {
  color: white;
  margin: auto;
  z-index: 99;
  border: none;
  background-size: 18px;
  cursor: pointer;
  outline: none;
  animation: bounce 3s infinite; }

.innerWrapper {
  width: 80vw; }

.about {
  width: 80vw;
  margin: 0 auto 88px auto;
  visibility: visible;
  -webkit-transform: translateY(0) scale(1);
  opacity: 1;
  transform: translateY(0) scale(1);
  opacity: 1;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
  transition: transform 0.3s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; }

.aboutHead {
  margin-bottom: 48px; }

.astrology {
  display: inline-block; }
  .astrology svg {
    height: 60px;
    margin-bottom: -24px;
    padding: 0 4px;
    fill: rgba(228, 161, 153, 0.8); }

.films {
  display: inline-block; }
  .films svg {
    height: 60px;
    margin-bottom: -24px;
    padding: 0 4px;
    fill: rgba(228, 161, 153, 0.8); }

.noods {
  display: inline-block; }
  .noods svg {
    height: 60px;
    margin-bottom: -24px;
    padding: 0 4px;
    fill: rgba(228, 161, 153, 0.8); }

.aboutTitle {
  text-align: center;
  font-family: "tiempos", serif;
  font-size: 28px;
  line-height: 46px;
  color: #0e1111;
  width: 70vw;
  margin: 0 auto; }
  .aboutTitle .aboutLink {
    white-space: nowrap;
    color: #0e1111;
    border-bottom: 2px solid white;
    text-decoration: none;
    transition: all 0.2s ease-in-out; }
    .aboutTitle .aboutLink:hover {
      border-bottom: 2px solid rgba(228, 161, 153, 0.8); }
    .aboutTitle .aboutLink:focus {
      border-bottom: 2px solid rgba(228, 161, 153, 0.8); }
  .aboutTitle p {
    margin: 0 auto; }

.aboutBody {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70vw;
  margin: 0 auto; }
  @media (max-width: 650px) {
    .aboutBody {
      flex-direction: column; } }

.aboutText {
  width: 66%;
  text-align: center;
  font-family: "basisReg", sans-serif;
  font-size: 14px;
  line-height: 1.6em;
  letter-spacing: 0.6px; }
  .aboutText p:first-of-type {
    margin-top: 0px; }
  .aboutText .aboutLink {
    white-space: nowrap;
    color: #0e1111;
    border-bottom: 2px solid white;
    text-decoration: none;
    transition: all 0.2s ease-in-out; }
    .aboutText .aboutLink:hover {
      border-bottom: 2px solid rgba(228, 161, 153, 0.8); }
    .aboutText .aboutLink:focus {
      border-bottom: 2px solid rgba(228, 161, 153, 0.8); }
  @media (max-width: 960px) {
    .aboutText {
      margin: 0 auto; } }

.aboutImage {
  background-image: url("../../assets/stahl.png");
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 250px;
  min-height: 250px;
  margin-left: 48px; }
  @media (max-width: 960px) {
    .aboutImage {
      margin: 0 auto; } }

.work.innerWrapper {
  width: 80vw; }
  @media (max-width: 960px) {
    .work.innerWrapper {
      width: 75vw; } }

.workGallery {
  margin: 60px auto;
  width: 60vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 20px;
  visibility: visible;
  -webkit-transform: translateY(0) scale(1);
  opacity: 1;
  transform: translateY(0) scale(1);
  opacity: 1;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
  transition: transform 0.3s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.3s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; }
  @media (max-width: 960px) {
    .workGallery {
      grid-column-gap: 10px;
      width: 75vw; } }
  @media (max-width: 500px) {
    .workGallery {
      display: flex;
      flex-direction: column;
      align-items: center; } }

.workSingle {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc( 85vw / 3);
  width: calc( 85vw / 3);
  margin: 0 auto;
  position: relative; }
  @media (max-width: 960px) {
    .workSingle {
      height: calc( 75vw / 2);
      width: calc( 75vw / 2); } }
  @media (max-width: 650px) {
    .workSingle {
      height: calc( 70vw / 2);
      width: calc( 70vw / 2); } }
  @media (max-width: 500px) {
    .workSingle {
      height: 70vw;
      width: 70vw;
      margin-bottom: 20px; } }

.workSingleOverlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(251, 210, 215, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  transition: all 0.3s ease-in-out; }
  .workSingleOverlay:hover {
    background-color: rgba(102, 102, 102, 0.6);
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 15px 0px #999999;
    -moz-box-shadow: 0px 0px 15px 0px #999999;
    box-shadow: 0px 0px 15px 0px #999999; }
  @media (max-width: 960px) {
    .workSingleOverlay {
      background-color: rgba(102, 102, 102, 0.6);
      cursor: pointer; } }

.workSingleOverlay:hover .workTitle {
  display: none; }

.workSingleOverlay:hover .workDesc {
  display: flex; }

.workTitle {
  font-family: "tiempos", serif;
  font-size: 36px;
  text-align: center;
  color: #0e1111; }
  @media (max-width: 960px) {
    .workTitle {
      display: none; } }

.workDesc {
  display: none;
  flex-direction: column;
  align-items: center; }
  @media (max-width: 960px) {
    .workDesc {
      display: flex; } }

.workHoverSkills {
  text-transform: uppercase;
  font-family: "basisBold", sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
  color: white;
  text-align: center; }
  @media (max-width: 650px) {
    .workHoverSkills {
      font-size: 10px; } }

.mobileWorkTitle {
  display: none;
  font-family: "tiempos", serif;
  color: white;
  font-size: 36px;
  text-align: center;
  margin-bottom: 0px; }
  @media (max-width: 960px) {
    .mobileWorkTitle {
      display: block; } }
  @media (max-width: 650px) {
    .mobileWorkTitle {
      font-size: 20px;
      margin-top: 0px; } }

.workDesc a {
  text-decoration: none;
  color: white;
  font-family: "basisReg", sans-serif;
  font-family: "basisReg", sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  padding: 12px 18px;
  border: 2px solid white;
  border-radius: 3px;
  margin: 4px;
  width: 150px;
  white-space: nowrap;
  transition: all 0.5s ease-out; }
  .workDesc a:visited {
    color: white; }
  .workDesc a:hover {
    color: #666666;
    background-color: white;
    border: 2px solid white; }
  .workDesc a:active {
    background-color: transparent; }
  .workDesc a:visited {
    color: white; }
  .workDesc a:hover {
    color: #666666;
    background-color: white;
    border: 2px solid white; }
  .workDesc a:active {
    background-color: transparent;
    color: white; }

.anatomyThumb {
  background-image: url("../../assets/anatomy300.jpg"); }

.flowieThumb {
  background-image: url("../../assets/flowie300.jpg"); }

.definityThumb {
  background-image: url("../../assets/definity300.jpg"); }

.ipsumThumb {
  background-image: url("../../assets/ipsum300.jpg"); }

.tarotThumb {
  background-image: url("../../assets/tarot300.jpg"); }

.whereThumb {
  background-image: url("../../assets/whereshouldibuy300.jpg"); }

.skills {
  display: flex;
  justify-content: center;
  align-items: center; }

.devicons {
  display: flex;
  flex-direction: column;
  color: #0e1111;
  margin: 70px 0;
  flex-wrap: nowrap;
  padding-bottom: 70px;
  border-bottom: 4px solid rgba(251, 210, 215, 0.7); }
  @media (max-width: 650px) {
    .devicons {
      transform: scale(0.6);
      margin-top: -60px;
      padding-bottom: 180px; } }

.devicon__group--six {
  display: flex;
  flex-wrap: nowrap;
  margin: 30px 0; }
  @media (max-width: 1040px) {
    .devicon__group--six {
      flex-direction: column;
      margin: 0 auto; } }

.devicon__group--three {
  display: flex;
  flex-wrap: nowrap; }
  @media (max-width: 1040px) {
    .devicon__group--three {
      margin: 18px auto; } }

.devicons i {
  padding: 25px;
  width: 20%;
  font-size: 86px;
  text-align: center;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out; }
  @media (max-width: 500px) {
    .devicons i {
      font-size: 64px; } }
  .devicons i:hover {
    opacity: 1; }

.devicon__single {
  margin: 5px;
  border-bottom: 4px solid white;
  transition: transform 0.3s ease-in-out; }
  .devicon__single:hover {
    transform: scale(1.1); }

.devicon__single p {
  font-size: 10px;
  text-align: center;
  visibility: hidden; }

@keyframes enterSlowly {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.enterSlowly {
  animation: enterSlowly 5s forwards; }

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); }
  40% {
    transform: translateY(-20px); }
  60% {
    transform: translateY(-10px); } }

@keyframes slideFromRight {
  0% {
    transform: translate3d(100%, 0, 0);
    visibility: visible; }
  100% {
    transform: translate3d(0, 0, 0); } }

.slideFromRight {
  animation: slideFromRight 3s; }

@keyframes slideFromTop {
  0% {
    transform: translate3d(0, -200px, 0);
    visibility: visible;
    display: flex;
    opacity: 0; }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1; } }

.slideFromTop {
  animation: slideFromTop 0.5s ease-in-out; }

@keyframes wiggle {
  0% {
    transform: rotate(-15deg);
    transform-origin: 50%; }
  50% {
    transform: rotate(15deg);
    transform-origin: 50%; }
  100% {
    transform: rotate(-15deg);
    transform-origin: 50%; } }

.wiggle {
  animation: wiggle 2s infinite; }

footer {
  min-height: 300px;
  width: 100%;
  margin-bottom: 64px; }
  @media (max-width: 650px) {
    footer {
      margin-top: -100px; } }

.contact.innerWrapper {
  width: 60vw; }
  @media (max-width: 1060px) {
    .contact.innerWrapper {
      width: 60vw; } }

.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 18px; }
  @media (max-width: 960px) {
    .contact {
      align-items: center; } }
  @media (max-width: 650px) {
    .contact {
      display: flex;
      flex-direction: column;
      align-items: center; } }

.contactLeft {
  display: flex;
  align-items: flex-end;
  margin-top: -90px; }
  @media (max-width: 1040px) {
    .contactLeft {
      grid-column-start: 1;
      grid-column-end: span 2;
      margin: 0 auto 48px auto;
      align-items: flex-start;
      text-align: center; } }

.footerHello a {
  font-family: "basisBold", sans-serif;
  font-size: 108px;
  text-align: left;
  border-bottom: 4px solid white;
  color: #0e1111;
  text-decoration: none;
  transition: all 0.2s ease-in-out; }
  .footerHello a:hover {
    border-bottom: 4px solid rgba(228, 161, 153, 0.8); }
  .footerHello a:focus {
    border-bottom: 4px solid rgba(228, 161, 153, 0.8); }
  @media (max-width: 500px) {
    .footerHello a {
      font-size: 92px; } }

.footerHello .svg-inline--fa {
  width: 0.5em;
  color: rgba(228, 161, 153, 0.8); }

.socialContainerRight {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  margin: 0 auto; }

.socialPairs {
  display: flex;
  align-items: flex-start;
  transition: all 0.2s ease-in-out; }
  .socialPairs:hover {
    color: rgba(228, 161, 153, 0.8); }
  @media (max-width: 960px) {
    .socialPairs {
      color: rgba(228, 161, 153, 0.8); } }

.socialPairs:hover .socialLabel {
  border-bottom: 2px solid rgba(228, 161, 153, 0.8); }

.socialPairs svg {
  transform: scale(2);
  margin-right: 8px;
  margin-top: 10px; }

.socialLabel {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.6px;
  white-space: nowrap;
  font-family: "basisReg", sans-serif;
  margin: 0 0 16px 20px;
  padding: 5px 0;
  white-space: nowrap;
  color: #0e1111;
  border-bottom: 2px solid white;
  text-decoration: none;
  transition: all 0.2s ease-in-out; }
  .socialLabel:hover {
    border-bottom: 2px solid rgba(228, 161, 153, 0.8); }
  .socialLabel:focus {
    border-bottom: 2px solid rgba(228, 161, 153, 0.8); }

.contactRight {
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media (max-width: 1040px) {
    .contactRight {
      grid-column-start: 1;
      grid-column-end: span 2;
      margin: 0 auto 48px auto;
      align-items: flex-start;
      text-align: center; } }
  @media (max-width: 650px) {
    .contactRight {
      margin: 24px auto; } }

.copyright {
  background-color: white;
  color: #0e1111;
  font-family: "basisBold", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  margin: 30px 0; }

.errorWrapper-top {
  color: black;
  font-size: 64px;
  font-family: "tiempos", serif;
  z-index: 500;
  margin: 0 auto;
  width: 600px;
  display: flex;
  flex-flow: column wrap; }

.errorWrapper {
  width: 90vw;
  height: 80vh;
  margin: 0 auto;
  background-image: url("../../assets/rose_outside.jpg");
  background-size: cover;
  transform: translate(305px, 200px);
  transform: rotate(15deg); }

.errorOverlay {
  width: 90vw;
  height: 90vh;
  margin: 0 auto;
  background-image: linear-gradient(90deg, rgba(228, 161, 153, 0.4), rgba(236, 183, 191, 0.3), rgba(251, 210, 215, 0.7));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding: 36px;
  transform: translate(275px, 350px);
  transform: rotate(9deg); }
  .errorOverlay .head {
    font-family: "tiempos", serif;
    font-size: 64px;
    letter-spacing: 1px;
    color: white;
    margin: -16px auto 0px auto;
    text-align: center; }
  .errorOverlay .subhead {
    font-family: "basisBold", sans-serif;
    font-size: 12px;
    color: white;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center; }

@font-face {
  font-family: tiempos;
  src: url("../../assets/fonts/TiemposHeadline-Bold.woff") format("woff"); }

@font-face {
  font-family: basisReg;
  src: url("../../assets/fonts/basis-grotesque-regular.woff") format("woff"); }

@font-face {
  font-family: basisBold;
  src: url("../../assets/fonts/basis-grotesque-bold.woff") format("woff"); }

body {
  color: #0e1111;
  overflow-x: hidden; }

.innerWrapper {
  width: 90vw;
  margin: 0 auto; }
  @media (max-width: 960px) {
    .innerWrapper {
      width: 80vw; } }
